[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GenomicInteractions"]
	path = GenomicInteractions
	url = https://github.com/computationalregulatorygenomicsicl/genomicinteractions
	shallow = true
	registered = true
